<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dojos</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div>
            <h1>Dojos</h1>
            {% for dojo in dojos %}
            <p><a href="/dojo/{{dojo.id}}">{{dojo.name}}</a></p>
            {% endfor %}
        </div>
        <div>
            <h1>Create Dojo</h1>
            <form action="/dojo/create" method="POST">
                <label for="name">Name:</label>
                <input type="text" name="name">
                <input type="submit" name="Create Dojo">
            </form>
        </div>
        <div>
            <button><a href="/ninjas">Create Ninja</a></button>
            <button><a href="/dojos">See Dojos</a></button>
        </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>